.password{
margin-left: 30%;
margin-top: 1%;

}
.email{
    margin-left: 30%;
    margin-top: 1%;
}
.user{

    margin-left: 30%;
    margin-top: 1%;
}
.secret_key{

    margin-left: 30%;
    margin-top: 1%;
}

.buttonFormIn{
margin-left: 58%;
}

.formDiv{
    margin-left: 25%;
    margin-right: 30%;
}